* {
  font-family: Poppins, sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
}

body > section .nav {
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-centered {
  align-items: center;
}

.content-container {
  max-width: 70em;
  justify-content: center;
  padding: 0 20px;
}

body > section {
  margin: 150px auto;
}

body > section:nth-child(2) {
  margin-top: 25px;
}

body > section:last-child {
  margin-top: 75px;
  margin-bottom: 0;
}

#app-logo {
  height: 2.5em;
  margin-right: 1em;
}

#app-title {
  font-size: 1.8em;
  line-height: 1.2em;
  color: rgba(23, 58, 86, 1);
}

.nav-bar-wrapper {
  width: 100%;
  justify-content: space-between;
}

.nav-links-container > a {
  color: #22343d;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.7em;
  margin: 0 0.6em;
}

.button-primary {
  border-radius: 4px;
  background: #02897a;
  height: 2.6em;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  line-height: normal;
  border: none;
  cursor: pointer;
  padding: 0 1.5em;
  white-space: pre;
}

.button-outline {
  background-color: white;
  color: rgba(188, 208, 229, 1);
  border-radius: 4px;
  border: 1px solid #bcd0e5;
}

.button-link {
  color: #02897a;
  font-size: 1em;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
}

#play-icon {
  height: 1em;
  margin-right: 0.5em;
}

.buttons-nav {
  margin: 0.8em;
}

.switch-theme-button {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#switch-theme-item {
  height: 1.2em;
  width: 1.2em;
}

.nav-bar-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.main-header {
  color: #22343d;
  font-size: 2.2em;
  font-weight: 700;
}

.content-left-col,
.content-right-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.subtitle {
  color: #22343d;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em; /* 155.556% */
}

.first-section-right-col {
  width: 100%;
  height: auto;
  pointer-events: none;
}

.button-link-margin {
  margin-left: 1.8em;
}

#menu-icon {
  width: 28px;
  height: 31px;
  cursor: pointer;
}

.menu-icon-resp {
  display: none;
}

#menu-coplase {
  display: none;
}

.section-3-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section-3-row > h2 {
  font-weight: 700px;
  font-size: 2em;
  line-height: 48px;
  text-align: center;
}

.section-row-4-cols {
  display: grid;
  grid-template-areas: "grid-col-1 grid-col-2 grid-col-3 grid-col-4";
  gap: 10px;
}

.section-row-4-cols-item-1 {
  grid-area: grid-col-1;
}

.section-row-4-cols-item-2 {
  grid-area: grid-col-2;
}

.section-row-4-cols-item-3 {
  grid-area: grid-col-3;
}

.section-row-4-cols-item-4 {
  grid-area: grid-col-4;
}

.section-row-4-cols h5 {
  font-size: 1.38em;
  font-weight: 600;
  line-height: 33px;
}
@media screen and (max-width: 800px) {
  .menu-icon-resp {
    display: flex;
  }

  .nav-bar-wrapper > .nav-bar-buttons-container {
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: white;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.25);
    padding: 20px 10px;
    border-radius: 4px;
  }

  .nav-bar-buttons-container > .nav-links-container > a {
    display: block;
    width: 100%;
    padding: 5px 0;
  }

  .nav-bar-buttons-container > .actions-buttons-wrapper {
    padding: 10px 0;
    flex-direction: column;
  }

  .nav-bar-buttons-container > .actions-buttons-wrapper > .button {
    margin: 5px 0;
  }

  .nav-bar-buttons-container > .nav-links-container > a:hover {
    text-decoration: underline;
  }

  .nav
    > #menu-coplase:not(:checked)
    ~ .nav-bar-wrapper
    > .nav-bar-buttons-container {
    height: 0;
  }
}
@media screen and (max-width: 600px) {
  .section-2-col {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  .section-2-col-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
}
